



// colors
$primary: #E54B4B;
$primary-svg: invert(45%) sepia(28%) saturate(1731%) hue-rotate(320deg) brightness(93%) contrast(94%);
$secomdary: #FFA987;
$dark: #444140;
$light: #F7EBE8;





// fonts
$Lato: 'Lato', sans-serif;

@mixin Lato-Black{
    font-family: $Lato;
    font-weight: 900;
}

@mixin Lato-Regular{
    font-family: $Lato;
    font-weight: 400;
}

@mixin Lato-Light {
    font-family: $Lato;
    font-weight: 300;
}




// container
@mixin std-container {
    width: 80vw;
    margin: 0 auto;
}





//button
@mixin std-button{
    padding: 1em 2em;
    border-radius: 5px;
    border: none;

    a{
        text-decoration: none;
    }
}



//shadow
$card-shadow: 0px 50px 70px -50px rgba(0, 0, 0, 0.25);
