@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    @include Jost-Regular;

}

body{
    font-size: 16px;
    position: relative;
    background: $white;
    overflow-x: hidden; 
    // display: grid;
    // gap: 15vh;
}

$container-padding: 10vw;


.container{
    padding: 0 $container-padding;
}
.spacer{
    padding: 15vw 0;
}
.title-color{
    color: $primary;
}



// typography
h1{
    @include Lato-Black;
    font-size: clamp(3.5rem, 10vw, 7rem);
    line-height: 95.6%;
}
h2{
    @include Lato-Black;
    font-size: clamp(3rem, 5vw, 5.5rem)
}
h3{
    @include Lato-Black;
    font-size: clamp(2.5rem, 5vw, 3.5rem)
}
h4{
    @include Jost-Medium;
    font-size: clamp(2rem, 3vw, 4rem)
}
h5{
    @include Lato-Medium;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

p{
    @include Jost-Light;
    font-size: clamp(.8rem, 3vw, 1.5rem);
    line-height: 1.1em
}

a{
    text-decoration: none;
    color: $dark;
    font-size: clamp(.9rem, 2vw, 1.3rem);
}

button{
    @include Jost-Medium;
    font-size: clamp(.7rem, 1vw, 1rem);
    text-transform: uppercase;
    letter-spacing: .1em;

    padding: .8em 1.5em;
    border: none;
    border-radius: 100px;
    margin: 1em 0;
    width: max-content;
}


li{
    list-style: none;
}

input, textarea{
    background: $white;
    border: 1px $dark solid;
    padding: .5em;
    font-size: clamp(.7rem, 2vw, 1.2rem);

    &::placeholder{
        color: $grey;
    }
}