@import 'config';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    @include Jost-Regular;

}

body{
    font-size: 16px;
    position: relative;
    background: $white;
    overflow-x: hidden; 
}

.container{
    padding-left: 10vw;
    padding-right: 10vw;
}
.spacer{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.title-color{
    color: $primary;
    // white-space: nowrap
}



// typography
h1{
    @include Lato-Black;
    font-size: 3.5rem;
    line-height: 95.6%;
}
h2{
    @include Lato-Black;
    font-size: 3rem;
}
h3{
    @include Lato-Black;
    font-size: 2.5rem;
}
h4{
    @include Jost-Medium;
    font-size: 2rem;
}
h5{
    @include Lato-Medium;
    font-size: 2rem;
}

p{
    @include Jost-Light;
    font-size: 1rem;
    line-height: 1.1em
}

button{
    @include Jost-Medium;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: .1em;

    padding: .8em 1.5em;
    border: none;
    border-radius: 100px;
    margin: 1em 0;
}

a{
    text-decoration: none;
    color: $dark
}

li{
    list-style: none;
}

input, textarea{
    background: $white;
    border: 1px $dark solid;
    padding: .5em;
    
    &::placeholder{
        color: $grey;
    }
}