@import 'config';

header{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: grid;
    place-items: center;
    z-index: 2;

    .nav-links{
        display: flex; 
        gap: 1em;
        justify-content: center;
        list-style: none;
    }
}

.hero{
    position: relative;
    height: 100vh;
    //clip-path: polygon(0% 0%, 100% 0%, 100% calc(85% + 5vh), 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $grey;


    .content{
        text-align: center;
        margin-top: 15vh;
        z-index: 2;
        color: $white;

        p > span{
            color: $primary;
        }
    }
    .sidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dark;
        width: 100%;
        height: 20vh;
        position: absolute;
        bottom: 0;
        left: 0;
        //padding-bottom: 10vh;

        .logo{
            width: 1.5rem;

            svg > path{
                fill: $primary;
            }
        }
        .social-links{
            display: flex;
            list-style: none;
            gap: 2em;
            font-size: 1.5rem;

            li>a{
                color: $white;
            }
        }
    }
    .my-image{
        bottom: 0;
        position: absolute;
        width: 450px;
        

        img {
            width: 100%;
            object-fit: cover;
            margin-bottom: 20vh;
        }
    }
}

.about-me{
    padding: 10vh;
    text-align: center;

    .title{
        margin-bottom: .5em;
    }
}

.skills{
    .my-tools{
        background: $primary;
        color: $white;
        text-align: center;
        padding: 5vh 0;

        .icons{
            display: grid;
            list-style: none;
            gap: .2em;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            font-size: 2rem;
            place-items: center;
        }
    }
    .additional{
        padding: 5vh 0;

        .title{
            margin-bottom: .5em;
        }
        .skill > .icons{
            display: flex;
            gap: 1em;

            li{
                font-size: 1.5rem;
                width: 1.5rem;
                
            }
        }
    }
}

.works{
    
}