header{
    width: 100%;
    height: 15vh;
    position: absolute;
    z-index: 3;

    nav{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include std-container;
        
        .logo{
            height: 100%;
            display: flex;
    
            img, object{
                height: 50%;
                margin: auto 0;
                filter: $primary-svg;
            }
        }
        .nav-links{
            list-style: none;
            display: flex;
            gap: 4vw;

            li{

                // padding: .5em 1em;
                border-radius: 100px;
                a{
                    text-decoration: none;
                    color: $light;
                }
            }
            
        }
    }
}



main{
    height: 100vh;
    position: relative;
    background: $dark;

    .socials{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: calc(5vw + 5rem);
        display: grid;
        place-items: center;
        z-index: 2;

        .social-links{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4em;

            li{
                font-size: 1.5rem;
                cursor: pointer;
                
                a{
                    color: $light;
                }
            }
        }        
    }
    .container{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        position: relative;

        .text-content{
            width: 40%;
            width: calc(30% + 10em);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
            position: relative;
            z-index: 2;
            // mix-blend-mode: screen;
            
            h1{
                color: $primary;
            }
            p{
                color: $light;
            }
            button{
                margin-top: calc(2vw + .5em);
                background: $secomdary
            }
            
        }
        .portrait{
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;

            .me{
                position: absolute;
                z-index: 1;
                width: clamp(400px, 55vw, 1000px);
                bottom: 0;
                
            }
        }
    }
}

.my-skills{
    padding: 20vh 0;
    background: $dark;
    color: $light;

    .container{
        display: grid;
        gap: 3em;
        gap: clamp(1em, 3vw, 3em);
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-auto-rows: 180px;

        .text-content{
            padding: 1em;

            h2{
                color: $primary;
            }
        }
        .skill{ 
            display: grid;
            place-items: center;
            background: $light;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            box-shadow: $card-shadow;
            color: $dark;
            padding: 1em;
            
            .content{
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                mix-blend-mode: multiply;
                // height: 100%;
                // width: 100%;

                i{
                    font-size: 5rem;
                    font-size: 3vw;
                    font-size: clamp(2rem, 5vw, 5rem);
                    // font-size: 500%;
                }
                
            }
            
            .progress{
                height: 100%;
                position: absolute;
                left: 0;
                background: $primary;
                transition: transform .3s ease;
                transform: translateX(-100%);
                // mix-blend-mode: screen;
                z-index: 1;
            }
        }
        .skill:hover > .progress{
            transform: translateX(0%);
        }
        .html .progress{
            width: 80%;
            background: #E34C26;
        }
        .css .progress{
            width: 80%;
            background: #264de4;
        }
        .javascript .progress{
            width: 60%;
            background: #F0DB4F;
        }
        .jquery .progress{
            width: 40%;
            background: #0868AC;
        }
        .php .progress{
            width: 20%;
            background:  #474A8A;
        }
        .sass .progress{
            width: 50%;
            background: #CD6799;
        }
        .bootstrap .progress{
            width: 20%;
            background: #563d7c;
        }
        

    }
}

.my-projects{
    padding: 20vh 0;

    .container{

        .text-content{
            text-align: center;
            margin-bottom: 100px;

            h2{
                color: $primary;
            }
        }

        .projects{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            grid-auto-rows: minmax(300px, 25vw);
            gap: clamp(1em, 3vw, 3em);


            .project{
                background: $dark;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;

                
                .title{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(100%);
                    transition: transform .3s ease;
                    background: $secomdary;
                    padding: 0 80px;
                    text-align: center;
                    color: $dark;
                    bottom: 0;

                    button{
                        @include std-button;
                        margin-top: 1vw;
                        
                    }
                    .tools{
                        margin-top: 1vw;

                    .tool-list{
                        list-style: none;
                        display: flex;
                        gap: 3vw;
                        // margin-bottom: 1vw;

                        li{
                            font-size: clamp(1.5rem, 4vw, 2rem);
                            color: $dark;
                        }
                    }
                }
                }
                
                .thumbnail{
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 2vw 0;
                    margin: auto 0;

                    img{
                        width: 70%;
                        border-radius: 5px;
                        filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.45));
                        top: 0;
                        
                    }
                    
                }

            }
            .project:hover > .title{
                transform: translateY(0%);
            }
        }
    }
}

.contact{
    padding-bottom: 20vh;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .social-links{
            list-style: none;
            display: flex;
            gap: 4em;
            margin-top: 10px;

            li{
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

footer{
    background: $dark;
    height: 15vh;
    display: flex;

    .container{

        display: grid;
        place-content: center;
        color: $light;

    }
}





@media screen and (max-width: 768px){

    .container{
        width: 90vw;
    }

    header{

        nav{
            flex-direction: column;

        }
    }

    main{
        .socials{
            top: unset;
            bottom: 0;
            width: 100%;
            height: 20vh;

            .social-links{
                flex-direction: row;
                color: $light;
            }
        }
        .container{
            justify-content: center;
            
            .text-content{
                text-align: center;
                justify-content: flex-start;
                margin-top: 20vh;

                button{
                    margin: calc(3vw + .5em) auto 0;
                }
            }
            .portrait{
                justify-content: center;

                .me{
                    
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    // transform: translateX(50%);
                }
            }
        }
    }

    .my-skills{

        .container{
            grid-auto-rows: auto;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .my-projects{

        .container{

            .projects{
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: minmax(200px, 50vh);

                .project{
                    
                    
                    .title{
                        position: unset;
                        transform: unset;
                        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -22.31%, rgba(0, 0, 0, 0.7) -22.3%, rgba(0, 0, 0, 0) 100%);
                        // justify-content: flex-end;
                        height: 40%;
                        padding: 2em 0;
                        // color: $light;
                    }
                    .thumbnail{

                        img{
                            margin: 10vw 0;
                        }
                    }
                }
            }
        }
    }

}